
  :root {
    --neon-shadow-color: hsl(170, 100%, 20%);
    --navbar-color:hsl(270, 100%, 35%);
  }

  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  /* main{      
      margin-top: 50px;     
  } */


nav{
    background-color: var(--navbar-color);
    position: fixed;
    top: 0px;
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: space-between;
    box-shadow: 0px 0px 8px black;
}


a{
    color: white;
    text-decoration: none;  
}

#nav-links-list{
    display: flex;
    list-style-type: none;
    flex-direction: row-reverse;    
    align-items: center;
    margin-right: 10px;
}
.nav-links-elemnt{
    margin-right: 30px;   
}

.nav-links-elemnt a{   
    text-shadow: 2px 2px 10px black,3px 3px 10px black;
    font-size: 24px;
}

#welcome-section{
    height: 100vh;
    /* background-image:linear-gradient(to right,hsl(0, 0%, 15%), hsl(0, 0%, 12%)); */
    background-image:linear-gradient(to right,  hsl(170, 5%, 15%),   hsl(170, 5%, 12%));
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  #welcome-section h1{
    color: hsl(270, 100%, 35%);
    text-shadow: 2px 2px 8px black;
    font-size: 8rem;
    /* font-family: 'Qwitcher Grypen', cursive; */
    font-family: 'Birthstone', cursive;
    text-align: center;
    
    animation-name: welcome-text;
    animation-duration: 5000ms;
    animation-iteration-count: infinite;
 }

 @keyframes welcome-text {
    0% {
        text-shadow:2px 2px 6px black, 2px 2px 8px var(--neon-shadow-color);
      }
    5% {
        text-shadow:2px 2px 6px black, 2px 2px 8px var(--neon-shadow-color);
    }
    6% {
        text-shadow: 2px 2px 8px black;
      }
    8% {
        text-shadow: 2px 2px 8px black;
      }
    9% {
        text-shadow:2px 2px 6px black, 2px 2px 8px var(--neon-shadow-color);
    }  
    80% {
        text-shadow:2px 2px 6px black, 2px 2px 8px var(--neon-shadow-color);
    }
    81% {
        text-shadow: 2px 2px 8px black;
    }
    82% {
        text-shadow: 2px 2px 8px black;
      }
      83% {
        text-shadow:2px 2px 6px black, 2px 2px 8px var(--neon-shadow-color);
    }
  }

  #welcome-section p{
      color: hsl(170, 7%, 30%);
      font-size: 2rem;
  }

  #projects{
      /* background-image:linear-gradient(to right,  hsl(170, 7%, 40%),   hsl(170, 7%, 40%));    */
      background-image:linear-gradient(to right,  hsl(60, 80%, 100%),   hsl(60, 80%, 100%)); 
      height: 100%;
      /* padding-top: 80px; */
      display: flex;
      flex-direction: column;
      align-items: center;
      
  }

  .project-tile{
    text-align: center; 
    font-size: 2rem;  
    /* text-decoration: underline; */
    /* color: hsl(170, 5%, 22%); */
    color: white;
    background-color:hsl(170, 5%, 22%); 
    padding: 15px;
    margin-top: 50px;
    margin-bottom: 50px;
    /* border-style: solid;
    border-width: 5px;
    border-color: hsl(170, 5%, 22%);
    box-shadow: 2px 2px 15px black; */

    /* color: white; */
    /* color: var(--navbar-color);
     text-shadow: 3px 3px 10px black;  */
}

.projects-container{
 
  /* margin-top: 80px; */
  height: 100%;
}

  .projects-grid{
      display: grid;
      gap: 10px;
      justify-content: space-evenly;
      grid-template-columns:1fr 1fr 1fr;    
      /* grid-template-rows: 100px; */
      margin-top: 20px;       
  }

  .project{          
      justify-self: center;     
      /* background-color: white;  */
      background-image:linear-gradient(to right,  hsl(170, 5%, 25%),   hsl(170, 5%, 22%));      
      width: 100%;
      height: 350px;
      /* box-shadow: 2px 2px 15px black; */
  }

  .project a{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
  }

  .project a p{
   margin-top: auto;
   margin-bottom: auto;
  }

  .project-img{    
    width: 100%;
    max-width: 350px;
    height: 300px;
    object-fit: cover;    
    padding:5px 5px 0px 5px;
  }

  #contact{
    height: 200px;
    background-image: linear-gradient(to right,  hsl(170, 5%, 15%),   hsl(170, 5%, 12%));
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

  }

  .contact-header h2{
    color: white;
    font-size: 34px;
  }

  .contact-links{
    display: flex;
  }


  .contact-links a{
    display: flex;
    flex-direction: row;
   align-items: center;
   padding: 10px;
   font-size: 21px;
  }

  .contact-links a svg{
    margin-right: 5px;
  }



  footer{   
  
   border-top: solid;
   border-width: 5px;
   border-color: var(--navbar-color);
    background-image: linear-gradient(to right,  hsl(170, 5%, 15%),   hsl(170, 5%, 12%));
    height: 100px;
  }
 